<ion-header>
  <ion-toolbar>
    <ion-title><ion-title><ion-text color="secondary">
        <div class="heading">Hiree</div>
      </ion-text></ion-title> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
    <ion-grid>
      
      <ion-row>
          <ion-col size-md="6" offset-md="3">
        <div class="box" >
          <div class="welcome"><h2> Welcome To</h2></div>
       <ion-text color="secondary">
        <div class="title">Hiree</div>
      </ion-text> 
      <ion-text color="secondary">
        <div class="titel">Job Application</div>
      </ion-text>      
        </div>
        <div></div>
        <div class="box1" >
          <ion-text color="primary">
            <div class="det">Hiree Job Application is a one stop destination for Hiring or getting Hired...</div>
          </ion-text>          
        </div>      
      </ion-col>
     </ion-row>     
    </ion-grid> 
  </ion-content>
  <ion-footer>
    <ion-input placeholder="enter your phone number" type = 'tel'required [(ngModel)] ="login_id"></ion-input>
    <ion-icon name="arrow-forward" (click) = "LogIn_var()" [routerLink]="[verify]"></ion-icon>
                    
  </ion-footer>