.Welcome {
    --text-align: center;
}
.heading{
    text-align: center;
    font-size: 40px;
    font-style: initial;  
  }
  .t{
     
      font-style: oblique;
  }
  .welcome{
    text-align: center;
    
  }
  .title
   {
    text-align: center;
    font-size: 80px;
    font-style: initial;      
    
   }
   .titel{
       text-align: center;
        font-style: initial;
        font-size: 20px;
   }
   .box{
       border: 5px solid  rgb(248, 101, 57);
       border-radius: 20px;
       margin: 5px;
       padding: 25px;
   }
   .box1{
       
       margin: 25px;
       padding: 10px;
   }
   .det{
       font-size: 20px;
       font-family: "Times New Roman", Times, serif;
       
   }