<ion-header>
  <ion-toolbar>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card *ngFor = " let result of this.results_job; let i = index" >
          <ion-card-header color="light">
            <ion-row>
              <ion-col size="8">
                <ion-card-title>
                  {{ result.job_post }}
                </ion-card-title>
                <ion-card-subtitle >
                {{ result.eyer_name }}<br>
                Location : {{ result.eyer_location }}
                </ion-card-subtitle>
              </ion-col>
              <ion-col offset="2" size="2"  >
                <ion-icon (click)='dislike(result.id, i) ' *ngIf='selectedIndex.indexOf(result.id) !== -1' name="heart" size ="large" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
                Monthly Salary:<B> {{ result.job_salary }} </B>
            </ion-item>
            <ion-item>
                Requried Experince: {{ result.job_experience }} 
            </ion-item>
            <ion-item>
                 Requried Employment: {{ result.job_employement }}
            </ion-item>
            <ion-item>
                 Requried Skills: {{ result.job_skills}}
            </ion-item>
             <ion-button  [routerLink] = "['./', result.id]" color="success" expand="block">Apply for job</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
