<ion-header>
  <ion-toolbar>
    <ion-title><ion-chip>
      <ion-avatar>
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+" />
      </ion-avatar>
      <ion-label>Employee_Name</ion-label>
    </ion-chip></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <div class="ion-text-center">
      <h4>You have applied for a job </h4>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size-md="6" offset-md="3">
          <ion-card>
              <ion-card-header>
                  <ion-card-title>Go through the Formal Procedures</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <ion-item>
                      <ion-label position="floating">reason:</ion-label>
                      <ion-input type = 'text' ></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">what can you do for the hotel</ion-label>
                      <ion-input type = 'text' ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating">Any queries related to the job?</ion-label>
                    <ion-input type = 'text' ></ion-input>
                </ion-item>
                  <ion-item class="ion-float-right">
                    <ion-button class="ion-margin-vertical" color="success" size='default' [routerLink]="['/login']">Apply</ion-button>
                  </ion-item>
              </ion-card-content>
          </ion-card>
      </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>