<ion-header>
  <ion-toolbar>
    <ion-title> <h4> Register As Employer </h4> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
    <ion-label position="floating">GST No.</ion-label>
        <ion-input type = 'number' ></ion-input>
    </ion-item>
    <ion-item>
         <ion-label position="floating">Hotel Name:</ion-label>
         <ion-input type = 'text'></ion-input>
    </ion-item>
    <ion-item>
         <ion-label position="floating">Address 1:</ion-label>
         <ion-input type = 'text'></ion-input>
    </ion-item>
    <ion-item>
         <ion-label position="floating">Address 2:</ion-label>
         <ion-input type = 'text'></ion-input>
    </ion-item>
    <ion-item>
         <ion-label position="floating">City:</ion-label>
         <ion-input type = 'text'></ion-input>
    </ion-item>
    <ion-item>
          <ion-label>State:</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="AP">	Andhra Pradesh</ion-select-option>
            <ion-select-option value="AR">	Arunachal Pradesh</ion-select-option>
            <ion-select-option value="AS">Assam</ion-select-option>
            <ion-select-option value="BR">Bihar</ion-select-option>
            <ion-select-option value="CH">Chhattisgarh</ion-select-option>
            <ion-select-option value="GA">Goa</ion-select-option>
            <ion-select-option value="GJ">Gujarat</ion-select-option>
            <ion-select-option value="HR">Haryana</ion-select-option>
            <ion-select-option value="HP">Himachal Pradesh</ion-select-option>
            <ion-select-option value="JK">Jammu & Kashmir</ion-select-option>
            <ion-select-option value="JH">Jharkhand</ion-select-option>
            <ion-select-option value="KA">Karnataka</ion-select-option>
            <ion-select-option value="KL">Kerala</ion-select-option>
            <ion-select-option value="LA">Ladakh</ion-select-option>
            <ion-select-option value="MP">Madhya Pradesh</ion-select-option>
            <ion-select-option value="MH">Maharashtra</ion-select-option>
            <ion-select-option value="MN">Manipur</ion-select-option>
            <ion-select-option value="ML">Meghalaya</ion-select-option>
            <ion-select-option value="MZ">Mizoram</ion-select-option>
            <ion-select-option value="NL">Nagaland</ion-select-option>
            <ion-select-option value="OR">Oddissa</ion-select-option>
            <ion-select-option value="PB">Punjab</ion-select-option>
            <ion-select-option value="RJ">Rajasthan</ion-select-option>
            <ion-select-option value="SK">Sikkim</ion-select-option>
            <ion-select-option value="TN">Tamil Nadu</ion-select-option>
            <ion-select-option value="TS">Telangana</ion-select-option>
            <ion-select-option value="TR">Tripura</ion-select-option>
            <ion-select-option value="UP">Uttar Pradesh</ion-select-option>
            <ion-select-option value="UK">Uttrakhand</ion-select-option>
            <ion-select-option value="WB">West Bengal</ion-select-option>
            
          </ion-select>
     </ion-item>
     <ion-item>
           <ion-label position="floating">Website:</ion-label>
           <ion-input type = 'text'></ion-input>
     </ion-item>
     <ion-list>
          <ion-item>
            <ion-label>Vegetarian</ion-label>
            <ion-toggle slot="start" name="Veg" checked></ion-toggle>
          </ion-item>
      </ion-list>

  
     <ion-item>
          <ion-label>Category:</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="FS">5 Star</ion-select-option>
            <ion-select-option value="TH">3 Star</ion-select-option>
            <ion-select-option value="FD">Fine Dining</ion-select-option>
            <ion-select-option value="CD">Casual Dining</ion-select-option>
            <ion-select-option value="PU">Pubs & Bars</ion-select-option>
            <ion-select-option value="CB">Cafe and Bistro</ion-select-option>
            <ion-select-option value="FF">Fast Foods</ion-select-option>
            <ion-select-option value="QS">Quick Service</ion-select-option>
            <ion-select-option value="MO">Mobile Hotel</ion-select-option>
            <ion-select-option value="BK">Bakery</ion-select-option>
            <ion-select-option value="SS">Sweet-Shop</ion-select-option>
            <ion-select-option value="IC">Ice-Cream Shop</ion-select-option>
            <ion-select-option value="JB">Juice Bar</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
            <ion-label>Cuisines:</ion-label>
            <ion-select multiple="true" cancelText="Cancel" okText="Submit">
            <ion-select-option value="American">American</ion-select-option>
            <ion-select-option value="British">British</ion-select-option>
            <ion-select-option value="Caribbean">Caribbean</ion-select-option>
            <ion-select-option value="Chinnese">Chinnese</ion-select-option>
            <ion-select-option value="French">French</ion-select-option>
            <ion-select-option value="Greek">Greek</ion-select-option>
            <ion-select-option value="Italian">Italian</ion-select-option>
            <ion-select-option value="Japanese">Japanese</ion-select-option>
            <ion-select-option value="Mediterranean">Mediterranean</ion-select-option>
            <ion-select-option value="Mexican">Mexican</ion-select-option>
            <ion-select-option value="Moroccan">Moroccan</ion-select-option>
            <ion-select-option value="North Indian">North Indian</ion-select-option>
            <ion-select-option value="South Indian">South Indian</ion-select-option>
            <ion-select-option value="Spanish">Spanish</ion-select-option>
            <ion-select-option value="Thai">Thai</ion-select-option>
            <ion-select-option value="Turkish">Turkish</ion-select-option>
            <ion-select-option value="Vietnamese">Vietnamese</ion-select-option>
            </ion-select>
      </ion-item>            
      <ion-item>
             <ion-label position="floating">Number of Seats in Hotel:</ion-label>
             <ion-input type = 'number' ></ion-input>
      </ion-item>

      <ion-button class="ion-margin-vertical" size='default' color="secondary" expand="full" [routerLink]="['/login']">
        Go To Payment
      </ion-button>
</ion-content>
