<ion-header>
  <ion-toolbar>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
  <ion-card-header>
    <ion-card-title>{{ employee_details.eyee_name }}</ion-card-title>
    <ion-card-subtitle>{{ employee_details.eyee_choice }}</ion-card-subtitle>
  </ion-card-header>
  <ion-item>
    <ion-icon name="list-outline" slot="start"></ion-icon>
    <ion-label></ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>
 </ion-card>
</ion-content>
