<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder = 'search jobs by role,hotel name,location' autocorrect autocomplete  enterkeyhint="enter" [(ngModel)] ="test" (keyup.enter)="ionViewDidEnter()" (ionClear)=" this.search_state = false || ionViewDidEnter() || test=''  " (ionFocus)="this.search_state = true"></ion-searchbar>
  <div *ngIf="this.search_state == true">
    <ion-list>
      <ion-list-header>
        <h5>Change Search profession:</h5>
      </ion-list-header>
      <ion-item (click)="tset('manager')" >
        manager
      </ion-item>
      <ion-item (click)="tset('chef')">
        chef
      </ion-item>
      <ion-item (click)="tset('janitor')">
        janitor
      </ion-item>
      <ion-item (click)="tset('bartender')">
        bartender
      </ion-item>
      <ion-item (click)="tset('delivery person')">
        delivery person
      </ion-item>
      <ion-item (click)="tset('receptionist')">
        receptionist
      </ion-item>
      <ion-item (click)="tset('waiter')">
        waiter
      </ion-item>
      <ion-list-header>
        <div class="or">or </div><div class="text">Search For Specific Hotel to see if they have vacancies: <br> Eg: Taj Hotel</div>>
      </ion-list-header>
      <ion-list-header>
        <div class="or">or</div> <div> You can Search For Specific Location <br> Eg: HSR Layout</div>
      </ion-list-header>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card *ngFor = " let result of this.results_job; let i = index" >
          <ion-card-header color="light">
            <ion-row>
              <ion-col size="8">
                <ion-card-title>
                  {{ result.job_post }}
                </ion-card-title>
                <ion-card-subtitle >
                {{ result.eyer_name }}<br>
                </ion-card-subtitle>
              </ion-col>
              <ion-col offset="2" size="2"  >
                <ion-icon (click)='like(result.id, i)' *ngIf='selectedIndex.includes(result.id) == false' name="heart-outline" size ="large"></ion-icon>
                <ion-icon (click)='dislike(result.id) ' *ngIf='selectedIndex.indexOf(result.id) !== -1' name="heart" size ="large" ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
                Monthly Salary:<B> {{ result.job_salary }} </B>
            </ion-item>
            <ion-item>
                Requried Experince: {{ result.job_experience }} 
            </ion-item>
            <ion-item>
                 Requried Employment: {{ result.job_employment }}
            </ion-item>
            <ion-item>
                 Requried Skills: {{ result.job_skills}}
            </ion-item>
             <ion-button  [routerLink] = "['./', result.id]" (click)='update(result.id)' color="success" expand="block">Apply for job</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
