<ion-header>
  <ion-toolbar>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-card>
                <ion-card-header>
                <ion-card-title>Job-Offer letter</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        Congratulations,<br/><br/> You can be a part of THIS Hotel with the
                        summoned designation.We are impressed with your profile and looking forward to meet you.
                        Please go through the benefits and stay in touch as you might get a call regarding the same in the coming days.
                        Regards,<br/><br/>
                        The manger,<br/>
                        Hotel Name<br/><br/><br/>
                        Benefits of joining the company<br/>
                        <ion-icon name="document-text-sharp"> dfg</ion-icon>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-button  [routerLink] = "['/employer-profile/employer-home/']" (click)="offer_job()">
        Offer job
      </ion-button>
 </ion-grid>
 

</ion-content>
