<ion-header>
  <ion-toolbar>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-card>
                <ion-card-header>
                <ion-card-title>Job-Offer letter</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-text color="danger">
                        <div class="Congratulations">Congratulations,</div>
                  </ion-text>
                  <ion-text>
                    <div class="int">    
                    You can be a part of the organization.We are impressed with your profile and looking forward to meet you.
                    </div>
                    <div class="crim">
                         You are required to ensure you obtain a Criminal Record Check and a Vulnerable Sector Check before the first day of work.
                    </div>
                    <div class="regards">
                      Regards
                    </div>    
                  </ion-text>
                </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-card>
              <ion-input placeholder="Enter more details (Not Compulsory)"></ion-input>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-card>
              <ion-input placeholder="Any Queries? Leave a Text"></ion-input>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-button  [routerLink] = "['/employer-profile/employer-home/']" (click)="offer_job()">
        Offer job
      </ion-button>
 </ion-grid>
 

</ion-content>
