<ion-header>
  <ion-toolbar>
    <ion-title>jobs-offered</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card *ngFor = " let result of offered_jobs" >
          <ion-card-header  color="light">
            <ion-card-title>
              {{ result.eyee_name }}
            </ion-card-title>
            <ion-card-subtitle >
               Location : {{ result.eyee_city }}
             </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
            <ion-item>
             Previous Experience {{ result.eyee_pre_experience }}
            </ion-item>
            <ion-item>
             Education : {{ result.eyee_education }}
            </ion-item>
            <ion-item>
             Skills : {{ result.eyee_add_skills }}
            </ion-item>
           </ion-card-content>
          <ion-card-content>
            <ion-button   color="success" expand="block">Offer job</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
