.heading{
    text-align: center;
    font-size: 40px;
    font-style: initial;  
  }
  .body{
    color: black;
  }
  .head{
    color: #868585;
    font-size: 12px;
  }
  .ans{
    color: black;
  }
  .ques{
    color: #868585;
    font-size: 12px;
  }