<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="ion-padding">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div *ngIf= "!job_post_toggle" >
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
      <ion-card-header >
        <ion-card-title color="primary">{{ details.eyer_hotel_name }}</ion-card-title>
        <ion-card-subtitle color="medium"><h4>{{ details.eyer_category }}</h4><br><h5>{{ details.eyer_address_1 }},<br>{{ details.eyer_address_2 }}
        <br>{{ details.eyer_city }}</h5>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-chip color="secondary">
            <ion-label>Active Job Post: {{ details.eyer_active_job_post}} </ion-label>
          </ion-chip>
          <ion-chip color="secondary">
            <ion-label>total Number of Job Post: {{ details.eyer_tot_no_job_post}} </ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>Total Number of Job Offered: {{ details.eyer_job_offer}} </ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>Total Number of Employees Hired: {{ details.eyer_job_hier}} </ion-label>
          </ion-chip>
        </p>
        <ion-button (click) = "state()" fill="outline" slot="end" expand="block" >
          View More
        </ion-button>
      </ion-card-content>
      
    </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
  </div>
  <div *ngIf= "job_post_toggle">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
      <ion-card-header >
        <ion-card-title color="primary">{{ details.eyer_hotel_name }}</ion-card-title>
        <ion-card-subtitle color="medium"><h4>{{ details.eyer_category }}</h4><br><h5>{{ details.eyer_address_1 }},<br>{{ details.eyer_address_2 }}
        <br>{{ details.eyer_city }}</h5>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          Type: {{ details.eyer_type }}
        </ion-item>
        <ion-item>
           Website: {{ details.eyer_website }}
        </ion-item>
        <ion-item>
          Category: {{ details.eyer_category }}
        </ion-item>
        <ion-item>
          Cuisines: {{ details.eyer_cuisines }}
        </ion-item>
        <ion-item>
          Number Of Seats: {{ details.eyer_no_seats }}
        </ion-item>
        <p>
          <ion-chip color="secondary">
            <ion-label>Active Job Post: {{ details.eyer_active_job_post}} </ion-label>
          </ion-chip>
          <ion-chip color="secondary">
            <ion-label>total Number of Job Post: {{ details.eyer_tot_no_job_post}} </ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>Total Number of Job Offered: {{ details.eyer_job_offer}} </ion-label>
          </ion-chip>
          <ion-chip color="danger">
            <ion-label>Total Number of Employees Hired: {{ details.eyer_job_hier}} </ion-label>
          </ion-chip>
        </p>
        
          <ion-button fill="outline" color="warning"slot="end" expand="block">
            Edit Profile 
          </ion-button>
          <ion-button (click) = "state()" fill="outline" slot="end" expand="block">
            View Less
          </ion-button>
        
        
      </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    
    
  </div>
</ion-content>
