.heading{
    text-align: center;
    font-size: 40px;
    font-style: initial;  
  }
  .req{
    color: red;
    font-size: 15px;
    text-align: end;
  }
  .warn{
    color: red;
    font-size: 10px;
  }