.heading{
  text-align: center;
  font-size: 40px;
  font-style: initial;  
}

.welcome{
    text-align: center;
    
  }
  .title
   {
    text-align: center;
    border: 3px solid rgb(248, 101, 57);
   }
  .handcraft{
    text-align: center;
    font-style: oblique;
  }