<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-text color="secondary">
      <div class="heading">Hiree</div>
    </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body>
  
</body>
<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">

       <div class="welcome"><h4> Welcome To</h4></div>
       <div class="title"><h2> Hiree Job App</h2></div>
   <div><h5> Please click "Post" to Post a Job</h5></div>
  


   
   <ion-button [routerLink] = "['./requirements-page']" color="success" expand="block"> Post</ion-button>
   
  </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <div class="description"><h6>
        Hiree Job Application makes it easy for the employers who are searching for employee and vice-versa.
        You are just a click away from selecting your required Candidates.
      </h6></div>
      
    </ion-col>
  </ion-row>
  </ion-grid>
  
</ion-content>
<ion-footer>
  
   <div class="handcraft">#aathmanirbharBharat <ion-icon name="swap-horizontal"></ion-icon> #makeInINDIA</div>
</ion-footer>

  